<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <img src="img/baby.jpg">
        {{>footer}}
    </body>
</html>