<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <div class="weather-ui">
                <form>
                    Check the weather for your city
                    <input placeholder="Location" type="text">
                    <button>Search</button>
                </form>
                {{!-- where forecasts will go --}}
                <p id="message-1"></p>
                <p id="message-2"></p>
            </div>
        </div>
        
        {{>footer}}
        <script src="js/app.js"></script>
    </body>
</html>